html {
  font-size: 18px;
  line-height: 1.5rem;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container {
  margin-right: auto;
  margin-left: auto;
}

.main {
  width: 100%;
}

.section {
  width: 100%;
  padding-bottom: 3rem;
  padding-top: 1rem;

  &--gray {
    background-color: @light-gray;
  }

  &--yellow {
    background-color: @primary-color;
  }

  .section__title {
    text-align: center;
  }

  .section__content {
  }
}

@media only screen and (max-width: 380px) {
  .col-xxs-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

dl.inline-flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: visible;

  dt {
    flex: 0 0 33.33%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  dd {
    flex: 0 0 66.67%;
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
