.fancy-background(@breakpoint) {
  background:
    repeating-linear-gradient(
      -60deg,
      transparent,
      transparent @breakpoint,
      @primary-color @breakpoint,
      @primary-color 100 - @breakpoint
    ),
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../../images/contact3.jpg") no-repeat 0 50%,
    url("../../images/contact3.jpg") no-repeat 100% 50%;
}

.section--contact {
  background: @primary-color;
  flex-direction: column;

  //.fancy-background(30%);
  ////background-size: cover;
  //
  //@media (max-width: @screen-lg+1) {
  // .fancy-background(25%);
  //}
  //
  //@media (max-width: @screen-md+1) {
  //  .fancy-background(25%);
  //}
  //
  //@media (max-width: @screen-sm+1) {
  //  .fancy-background(20%);
  //}
  //
  //@media (max-width: @screen-xs+1) {
  //  background: @primary-color;
  //}
}


.section__content--centered {
  display: flex;
}

.contact {
  color: @secondary-color;

  a {
    color: @secondary-color;
  }

  i {
    margin-right: 0.8rem;
    width: 1rem;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    margin: 1rem;
  }

  dd {
    font-weight: bolder;
  }
}

.contact__persons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact__person {
  display: flex;
  padding: 0.5rem;
}

.contact__company {
  width: 100%;
  display: flex;
  justify-content: center;

  dl.inline-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
    align-content: center;

    dd {
      flex: 0 0 45%;
      text-align: right;
      margin-left: auto;
      margin-right: auto;
    }

    dt {
      flex: 0 0 45%;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

.contact__separator {
  width: 100%;
  hr {
    color: @secondary-color;
    border: 0;
    height: 1px;
    background: @secondary-color;
  }
}
