.products__filters {
  display: flex;
  flex-direction: column;
  background-color: @primary-color;
  padding: 1rem;

  .filter__search {
    width: 100%;

    input {
      width: 100%;
      padding: 0.3rem;
      box-sizing: border-box;
      color: @secondary-color;
      border: 1px solid @secondary-color;

      &:focus {
        background-color: lighten(@primary-color, 25%);
      }
    }
  }

  .filter__reset {
    margin-top: 1rem;
    width: 100%;

    .reset-button {
      cursor: pointer;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      color: @secondary-color;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      border: 1px solid @secondary-color;
      text-decoration: none;
      text-shadow: 1px 1px 1px @dark-gray;

      &:hover {
        background-color: lighten(@primary-color, 25%);
      }
    }
  }

  .filter__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filter__group--title {
    cursor: pointer;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .filter__group--terms {
    padding: 0;
    margin: 0;

    .filter__term--node {
      text-overflow: ellipsis;
    }

    .filter__term--children {
      padding-left: 1rem;
    }
  }

  ul {
    list-style: none;
  }
}

.products__items {
  .products__empty-message {
    min-height: 20rem;
    align-items: center;
  }

  .item__wrapper {
    display: flex;
    margin-bottom: 16px;
  }

  .item {
    padding: 0.5rem 0.65rem;
    background-color: @white;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .item__image {
    img {
      max-width: 95%;
      min-width: 95%;
    }
  }

  .item__info {
    margin-top: auto;
    font-size: 12px;
    line-height: 1.2rem;

    h1 {
      font-size: 18px;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }

    h2 {
      font-size: 17px;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }

    h3 {
      font-size: 16px;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }

    h4 {
      font-size: 14px;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }

    dt {
      font-weight: bolder;
    }
  }
}
