include includes/mixins/logo-full
include includes/mixins/logo-small

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    title Drafter, s.r.o.
    meta(name="author", content="suzii")
    meta(name="description", content="Drafter - poctivé produkty, od výrobcov až na vaše pulty.")
    meta(name="keywords", content="mliečne výrobky, syry, kozie, ovčie, ajvar, mlieko, bryndza")

    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/site.webmanifest")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#ffc914")
    meta(name="msapplication-TileColor", content="#222")
    meta(name="theme-color", content="#ffffff")

  body
    include includes/nav
    main.main
      header#intro.hero
        .hero__text
          +logo-small('hero__text--logo')
          h1.hero__text--title Farmárske potraviny
          h3.hero__text--subtitle od výrobcov až na vaše pulty
          if showProducts
            a(href='#produkty').hero__text--cta Sortiment


      section#kto-sme.section.section--full-height
        .container
          .row.section__title
            .col-xs-12
              h1 Kto sme
          .row.section__content
            .col-xs-12.col-md-10.col-md-offset-1
              p Spoločnosť DRAFTER,s.r.o. Vám ponúka široký sortiment potravinárskych výrobkov, zameraný hlavne na syrové špeciaity.

              p Z našej ponuky si môžete vybrať výrobky z kravského, ovčieho ako aj z kozieho mlieka od našich výrobcov, šikovných farmárov ale aj od top zahraničných producentov. Okrem mliečnych výrobkov u nás nájdete aj mäsové výrobky spoločnosti Mäsovýroba Hôrka, ktorá vsadila na ich tradičné a poctivé spracovanie. Od roku 2017 dovážame do Slovenskej republiky špičkové produkty od spoločnosti TRGOPPRODUCT z Macedónska pod ich exkluzívnou značkou MAMA´S. Ide o pochutiny ako je Ajvar, Zelený ajvar, Lutenica a ďalšie.

              p Náš tovar dodávame do obchodných sietí v Slovenskej republike, Českej republike a v Maďarsku, ako aj do nezávislých sietí, obchodov a špecializovaných predajní. Portfólio tovaru neustále dopĺňame a vyberáme pre Vás len to najlepšie zo Slovenska a zahraničia. O naše dlhoročné skúsenosti v mliekárenskej výrobe a obchode sa radi podelíme so začínajúcimi výrobcami formou poradenstva.

          .row.who-we-are__features.section__content
            .who-we-are__feature
              i.fas.fa-4x.fa-thumbs-up
              h4 Dlhoročné skúsenosti

            .who-we-are__feature
              i.fas.fa-4x.fa-handshake
              h4 Férový prístup

            .who-we-are__feature
              i.fas.fa-4x.fa-users
              h4 Spokojní zákazníci

          .row.col-xs-12.center-xs
            p
              b Radi Vás privítame do rodiny našich spokojných zákazníkov.

      if showProducts
        section#produkty.section.section--gray

      section#kontakt.section.section--contact
        .container
          .row.section__title
            .col-xs-12
              h1 Kontakt
          .row.section__content--centered
            .contact-card
              .contact-card__primary
                ul
                  li
                    i.fas.fa-fw.fa-address-card
                    b DRAFTER, s.r.o.
                  li
                    i.fas.fa-fw.fa-map-marker-alt
                    | Príles 40, Trenčianska Teplá, 914&nbsp;01

                  li
                    i.fas.fa-fw.fa-envelope
                    a(href="mailto:dankovcik@drafter.sk") dankovcik@drafter.sk

                  li
                    i.fas.fa-fw.fa-envelope
                    a(href="mailto:drafter.sro@gmail.com") drafter.sro@gmail.com

                  li
                    i.fas.fa-fw.fa-phone
                    | +412&nbsp;907&nbsp;122&nbsp;336


              //hr.contact-card__separator
              //.contact-card__secondary
              //dl.inline-flex
              //  dd IČO
              //  dt 36694215
              //
              //  dd DIČ
              //  dt 2022265784
              //
              //  dd IČ DPH
              //  dt SK2022265784

      section#partneri.section.section--gray
        .container-fluid
          .row.section__title
            .col-xs-12
              h1 Partneri
          .row.section__content
            .col-xs-12
              .partners
                .partners__logo
                  a(href='http://www.milkeffekt.cz/', target='_blank', title='Milkefekt')
                    img(src='./images/partners/milkefekt.png', alt='Milkefekt')

                .partners__logo
                  a(href='http://www.kluknavskamliekaren.sk/', target='_blank', title='Kluknavská mliekareň odd')
                    img(src='./images/partners/kluknava.png', alt='Kluknavská mliekareň odd')

                .partners__logo
                  a(href='http://www.horka.sk/', target='_blank', title='Hôrka mäsovýroba')
                    img(src='./images/partners/horka.png', alt='Hôrka mäsovýroba')

                .partners__logo
                  a(href='http://www.farmabardy.sk/', target='_blank', title='Farma Bardy')
                    img(src='./images/partners/farma-bardy.png', alt='Farma Bardy')

                .partners__logo
                  a(href='http://syrove-torty.sk/', target='_blank', title='Syrové torty - Hričovské podhradie')
                    img(src='./images/partners/syrove-torty.png', alt='Syrové torty - Hričovské podhradie')

    include includes/footer
