doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Drafter
  body
    include includes/header.pug
    include includes/hero.pug
    include includes/intro.pug
    include includes/contacts.pug

    section#produkty
      #products-app

    include includes/footer.pug
