doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    title Drafter
  body
    include includes/nav
    main.main
      header#intro.hero
        .hero__text
          h1 Drafter
          h4 Čerstvé produkty od výrobcov až na vaše pulty
          a(href='#produkty').button Sortiment


      section#kto-sme.section.section
        .container
          .row.section__title
            .col-xs-12
              h1 O nás
          .row.section__content.center-md
            .col-xs-12.col-md-9
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

      section#produkty.section.section--gray

      section#kontakty.section
        .container
          .row.section__title
            .col-xs-12
              h1 Kontakty
          .row.section__content.around-xs.around-sm.around-md.around-lg.around-xl
            .col-xs-11.col-sm-8.col-md-5.contact-card
              ul
                li
                  i.fa.fa-fw.fa-address-card
                  b DRAFTER, s.r.o.
                li
                  i.fa.fa-fw.fa-map-marker-alt
                  | Príles 40, Trenčianska Teplá, 914&nbsp;01

                li
                  i.fa.fa-fw.fa-envelope
                  a(href="mailto:dankovcik@drafter.sk") dankovcik@drafter.sk

                //li
                //  i.fa.fa-fw.fa-envelope
                //  a(href="mailto:drafter.sro@gmail.com") drafter.sro@gmail.com
                li
                  i.fa.fa-fw.fa-phone
                  | +412&nbsp;907&nbsp;122&nbsp;336

            //dl.inline-flex
            //  dd IČO
            //  dt 36694215
            //
            //  dd DIČ
            //  dt 2022265784
            //
            //  dd IČ DPH
            //  dt SK2022265784




  include includes/footer
