nav.nav
  a(href='/').nav__brand
    +logo-full('nav__brand--logo')
  ul.nav__links(role='navigation')
    li
      a(href='#o-nas').active Kto sme
    if showProducts
      li
        a(href='#produkty') Produkty
    li
      a(href='#partneri') Partneri
    li
      a(href='#kontakt') Kontakt

