nav.nav
  ul.nav__links(role='navigation')
    li.nav__link--logo
      a(href='/')
        img(src='./images/drafter-logo.png' alt='drafter logo' width='200').
    li
      a(href='#o-nas').active Kto sme
    li
      a(href='#kontakt') Kontakt
    li
      a(href='#produkty') Produkty

