nav.nav
  a(href='/').nav__brand
    img(src='./images/drafter-logo.png' alt='drafter logo' width='200')
  ul.nav__links(role='navigation')
    li
      a(href='#o-nas').active Kto sme
    if showProducts
      li
        a(href='#produkty') Produkty
    li
      a(href='#partneri') Partneri
    li
      a(href='#kontakt') Kontakt

